/***** ESTILOS GENERALES *****/
a {
    all: unset;
}
/***** FIN ESTILOS GENERALES *****/


/****** COMPONENTE HEADER *****/
/* Cabecera */
.container-cabecera {
    background-color  :rgb(57,129,250);
             padding  :  1.5rem;
}

.txt-encabezado {
    color  :rgb(255, 255, 255);
}
/* Fin cabecera */

.carousel-inner {
    display  :  flex;
}
/****** FIN COMPONENTE HEADER *****/


/****** COMPONENTE NEWPRODUCTS *****/
/* contenido productos*/
.contenedor-productos {
     margin  :  0;
    display  :  flex;
}

.txt-seccion-productos {
    margin-top  :  5rem;
     font-size  :  6vw;
}
/* Fin contenido productos*/

/* Card producto */
.container-producto {
           display  :  flex;
    flex-direction  :  column;
         flex-wrap  :  wrap;
        margin-top  :  2rem;
    padding-bottom  :  1rem;
}

.container-producto:hover{
        border  :  1px solid rgb(146,146,148);
    box-shadow  :  3px 3px 5px 6px rgb(146,146,148);
        cursor  :  pointer;
} 

.contenedor-info {
           display  :  flex;
    flex-direction  :  column;
         flex-wrap  :  wrap;
}

.contenedorMarca {
            display  :  flex;
    justify-content  :  center;
          flex-wrap  :  wrap;
              color  :rgb(146,146,148);
          font-size  :  1.7rem;
             height  :  2.2rem;
}

.contenedorProcesador {
            display  :  flex;
    justify-content  :  center;
              color  :rgb(146,146,148);
          flex-wrap  :  wrap;
          font-size  :  1.1rem;
             height  :  2rem;
}  

.marca {
    margin-right  :  0.5rem;
    font-size  :  calc(0.5em + 0.5vw);
}

.modelo {
    font-size  :  calc(0.5em + 0.5vw);
}

.precio {
            display  :  flex;
    justify-content  :  center;
              color  :rgb(68, 68, 73);
          font-size  :  2rem;
             height  :  1.4rem;
}
/* Fin Card producto */
/****** COMPONENTE NEWPRODUCTS *****/


/****** COMPONENTE FOOTER *****/
/* Footer */
.container-footer {
             display  :  flex;
     justify-content  :  center;
         align-items  :  center;
    background-color  :rgb(38,38,38);
               color  :rgb(255, 255, 255);
              height  :  3rem;
}

/* Newsletter */
.container-newsletter {
             display  :  flex;
          margin-top  :  5rem;
         align-items  :  center;
               color  :rgb(255, 255, 255);
    background-color  :rgb(57,129,250);
              height  :  10rem;
}

.txt-newsletter {
           display  :  flex;
    flex-direction  :  column;
       align-items  :  center;
}

.form-newsletter {
            display  :  flex;
    justify-content  :  center;
}

.input-newsletter {
        border-style  :  none;
              border  :  1px solid rgb(255, 255, 255);
    background-color  :rgb(57,129,250);
               width  :  25rem;
}

.btn-newsletter {
        border-style  :  none;
    background-color  :rgb(38,38,38);
               color  :rgb(255, 255, 255);
             padding  :  1rem;
         margin-left  :  0.5rem;
}
/* Fin newsletter */
/* Fin footer */
/****** FIN COMPONENTE FOOTER *****/


/****** COMPONENTE LOGIN Y COMPONENTE SIGN UP*****/
/* Login y sign up*/
.formulario {
            height  :  25rem;
       padding-top  :  12rem;
    padding-bottom  :  35rem;
}
.form {
         width  :  100%;
     max-width  :  330px;
       padding  :  15px;
        margin  :  auto;
    text-align  :  center;
}

.form input.form-control {
    margin  :  10px 0px;
}

.img-login {
    width  :  12rem;
    
}

.btn-style {
    width  :  100%;
}
/* Fin login y sign up*/
/****** FIN COMPONENTE LOGIN Y COMPONENTE SIGN UP*****/


/****** COMPONENTE SEARCH RESULTS *****/
/* Search products */
.search-products {
         margin-top  :  2.5rem;
    justify-content  :  center;
       margin-right  :  0px;
        margin-left  :  0px;
        align-items  :  center;
}
/* Fin search products */
/****** FIN COMPONENTE SEARCH RESULTS *****/


/****** COMPONENTE PRODUCT DETAIL *****/
/* Product detail */
.container-product-detail {
    margin-top  :  2rem;
}
.container-card {
    justify-content  :  center;
             margin  :  0px;
        align-items  :  center;
}

.img {
    padding  :  0px;
}

.title {
         color:rgb(57,129,250);
    margin-top:  2rem;
     font-size:  calc(1em + 1vw);
}

.description {
         color  :rgb(68, 68, 73);
     font-size  :  calc(0.6em + 0.6vw);
    text-align  :  justify;
    margin-top  :  2rem;
}

.info-price {
    margin-top  :  2rem;
}

.price {
        color  :rgb(57,129,250);
    font-size  :  calc(1.5em + 1.5vw);
}

.stock {
    margin-top  :  -1rem;
         color  :rgb(57,129,250);
     font-size  :  calc(0.7em + 0.7vw);
}

.btn-buy {
    justify-content  :  space-around;
         margin-top  :  3rem;
}
/* Fin product detail */
/****** FIN COMPONENTE PRODUCT DETAIL *****/


/****** COMPONENTE CART *****/
/* Cart */
.a {
    background-color: thistle;
}

.product-cart {
    display: flex;
    margin-left: 0px;
    background-color: tomato;
}

.product-ticket {
    background-color: turquoise;
}

.img-cart {
    background-color: yellow;
}

.title-cart {
    margin-top: 5rem;
    height: 8rem;
    font-size  :  calc(0.7em + 0.7vw);
    background-color: yellowgreen;
}

.price-cart {
    background-color: wheat;
}

.btn-delete {
    margin-top: 5rem;
    height: 2rem;
    background-color: teal;
}
/* Fin cart */
/****** FIN COMPONENTE CART *****/


/****** COMPONENTE SIDEBAR *****/
/* Sidebar */
.layout-sidebar {
    height: 100vh;
    background-color: rgb(68, 68, 73);
}

.title-aside {
    color: rgb(255, 255, 255);
}
/* Fin Sidebar */
/****** FIN COMPONENTE SIDEBAR *****/






/*Medium devices (tablets, 768px and down)*/
@media (max-width: 576px) {

    .container-card {
        flex-direction: column;
    }

}

/*Medium devices (tablets, 768px and down)*/
@media (max-width: 768px) {

    
}


/*Large devices (desktops, 992px and down)*/
@media (max-width: 992px) {


}


/*Extra large devices (large desktops, 1200px and down)*/
@media (max-width: 1200px) {

}